body {
  background:url('background.jpg');
}
h1 {
  font-family: 'Megrim', cursive;
  color: #FFFFFF;
  font-size: 5em;
  text-align: center;
}
h3 {
  font-family: 'Flamenco', cursive;
  color: #4F328B;
  font-size: 2.5em;
  text-align: center;
}
.planet {
  background-color: #BDBCF0;
  font-family: 'Flamenco', cursive;
  color: #120D24;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
table {
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
}
tr {
  border: 0px;
}
th {
  background-color: #402A72;
  color: #D6D2F0;
  font-size: 1.1em;
  width: 80px;
  padding: 15px 10px 15px 10px;
  text-align: center;
  border: 1px solid #120D24;
}
td {
  background-color: #D6D2F0;
  color: #120D24;
  font-size: 1.1em;
  padding: 20px 10px 20px 10px;
  text-align: left;
  border: 1px solid #120D24;
}
